<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<div class="small">
<form  name="loginForm" ng-submit="loginUser(credentials)" novalidate="novalidate" autocomplete="off" role="form">
    <div class="container align-center"><h1>Login</h1>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="Username" ng-model="credentials.username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" ng-model="credentials.password" placeholder="Password" required>
                <span ng-show="credentials.Password.$dirty && credentials.Password.$error.required" class="help-block">Password is required</span>
            </div>
            <button id="login" type="submit" class="btn btn-primary btn-lg btn-block"  ng-disabled="loginForm.$invalid ">Login</button>
        </div>
    </div>
</form>
</div>
